body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 30px;
  color: #464646;
  background-image: url("./img/wallpaperflare.com_wallpaper.jpg");
  background-size: cover; 
  /* filter: blur(4px); */
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #ffffff25;
  padding: 20px 30px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #277bcf;
  color: #ffffff;
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .7;
  transition: .3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #626262;
}

.todo{
  background-color: #ffffff25;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: #258d25;
}

.remove {
  background-color: #d953af;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  background-color: #ffffff55;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  width: 100%;
}

.filter, .search {
  border-bottom: 5px solid #626262;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}